@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

/* Box model credit to czechitas.cz */
/* html,
body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */


html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}


body {
    margin: 0;
    /* margin: auto auto; */
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    min-height: 100vh;
    background-color: white;
}


/*
   Colors
   dark-blue: #162450
   light-blue: #1E91D6
   green: #8FC93A
   yellow: #E4CC37
   orange: #E18335   
   grey: #D9D9D9
   
   FONTS
   Noto Sans - light 300, regular 400, bold 700
   https://fonts.google.com/noto/specimen/Noto+Sans
  */

/* welcome pop up window */
.pop-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 90%;
    text-align: left;
    border-radius: 10px;
    border: solid 1px black;
    margin: 0.5rem 1rem;
    background-color: white;
    /* padding-top: 10px; */
    /* z-index: 1; */
    /* position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; */
    /* background-color: rgba(3, 2, 1, 0.7); */
    /* max-height: 100vh; */
}

#welcome-pop-up h2 {
    text-align: center;
    font-size: 16px;
    margin: 0rem;
}

/* .close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
} */


/* header section */
header {
    padding: 0.5rem 1rem 0rem 0.5rem;
    margin: 0;
}

.main-heading {
    margin: 0;
    padding: 0.5rem 0rem;
    font-size: 20px;
    text-align: center;
}

#ctn-code-music-rules {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

#ctn-secret-code {
    display: flex;
    gap: 0.5rem;
}

.secret-code-square {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    background-color: #D9D9D9;
}

#ctn-music-and-rules {
    display: flex;
    gap: 0.5rem;
}

.fa-question {
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 0.1rem;
    border-radius: 50%;
    border: solid 2px black;
}

/* score section */
#ctn-score {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    font-weight: 600;
    gap: 3.5rem;
}

#ctn-score p {
    margin: 0;
    padding: 1rem;
}

/* playground section */
#ctn-playground {
    padding: 0, 5rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.row {
    display: flex;
}

.square-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-right: 2rem;
}

.circle-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.square {
    width: 25px;
    height: 25px;
    background-color: #D9D9D9;
    border-radius: 5px;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #D9D9D9;
    /* border: solid 2px black; */
}

#you-won-pop-up {
    display: none;
}

#you-lost-pop-up {
    display: none;
}

#congrats-image {
    max-width: 250px;
    height: auto;
}

.game-over-buttons {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 4rem;
    padding: 5%;
}

/* Loosing pop up */
#commiseration-image {
    height: 200px;
    width: auto;
}


/* Options section */
#second-heading {
    text-align: center;
    font-size: 110%;
}

#ctn-colors {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 5rem;
    padding: 5%;
}

button {
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    /* border: none;
    outline: none; */
}

/* media query for tablets */
@media screen and (min-width: 440px) {
    .main-heading {
        font-size: 120%;
    }

    #second-heading,
    button {
        font-size: 120%;
    }
}



@media screen and (min-width: 750px) {
    body {
        width: 700px;
        margin: auto auto;
        justify-content: center;
        align-items: center;
    }

    header {
        padding-top: 1rem;
    }

    .main-heading {
        font-size: 140%;
    }

    .secret-code-square {
        width: 30px;
        height: 30px;
    }

    .fa-key {
        font-size: 140%;
        /* text-align: center; */
        padding-top: 0.1rem;
        /* padding-top: 5px; */
    }

    #ctn-score p {
        padding: 0.5rem;
    }

    .square {
        width: 30px;
        height: 30px;
    }

    .circle {
        width: 15px;
        height: 15px;
    }
}