@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

/* Box model credit to czechitas.cz */
html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E4CC37;
}


/*
   Colors
   dark-blue: #162450
   light-blue: #1E91D6
   green: #8FC93A
   yellow: #E4CC37
   orange: #E18335   
   grey: #D9D9D9
   
   FONTS
   Noto Sans - light 300, regular 400, bold 700
   https://fonts.google.com/noto/specimen/Noto+Sans
  */

/* header section */
header {
    background-color: #E4CC37;
    padding: 0.5rem 5%;
    margin: 0;
}

.main-heading {
    margin: 0;
    font-size: 20px;
    /* font-size: 90%; */
    text-align: center;
}

#ctn-code-music-rules {
    display: flex;
    justify-content: center;
    gap: 2rem;
}


#ctn-secret-code {
    display: flex;
    gap: 0.5rem;
}

.secret-code-square {
    width: 25px;
    height: 25px;
    /* border: black solid 2px; */
    border-radius: 2px;
    text-align: center;
    background-color: #D9D9D9;
}

#ctn-music-and-rules {
    display: flex;
    gap: 0.5rem;
}

#rules {
    width: 25px;
    height: 25px;
    border: black solid 2px;
    border-radius: 50%;
    text-align: center;
}

/* score section */
#ctn-score {
    background-color: #8FC93A;
    /* margin: 0; */
    padding: 0 5%;
    display: flex;
    justify-content: center;
    font-weight: 600;
    gap: 4rem;
}

#ctn-score p {
    margin: 0;
    padding: 2.5% 5%;
}

/* playgroung section */
#ctn-playground {
    background-color: #162450;
    ;
    display: flex;
    justify-content: center;
}

#ctn-squares-grid {
    width: 220px;
    height: 420px;
    padding: 5%;
    background-color: #162450;
    display: grid;
    grid-gap: 0.2rem 0.2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
    align-items: center;
    justify-items: center;
    /* gap: 0.5rem; */
    /* box-sizing: border-box; */
}

.square {
    width: 25px;
    height: 25px;
    background-color: #D9D9D9;
    border: #8FC93A;
    border-radius: 5px;
}

#ctn-circles-grid {
    width: 140px;
    height: 420px;
    padding: 5%;
    background-color: #162450;
    display: grid;
    align-items: center;
    grid-gap: 0.2rem 0.2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
    align-items: center;
    justify-items: center;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D9D9D9;
    border: #8FC93A;
}

/* Options section */
#ctn-options {
    background-color: #E4CC37;
}

#second-heading {
    text-align: center;
    font-size: 18px;
}

#ctn-colors {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 5rem;
    padding: 5%;
}

button {
    border-radius: 5px;
    font-weight: 700;
}

/* media query for tablets */
@media (min-width: 440px) {
    .main-heading {
        font-size: 160%;
    }

    #ctn-score p {
        font-size: 140%;
    }

    #ctn-squares-grid {
        width: 320px;
        height: 620px;
        grid-gap: 1rem 1rem;
    }

    .square {
        width: 30px;
        height: 30px;
    }

    #ctn-circles-grid {
        width: 320px;
        height: 620px;
    }

    .circle {
        width: 15px;
        height: 15px;
        grid-gap: 1rem 1rem;
    }

    #second-heading,
    button {
        font-size: 140%;
    }
}



@media (min-width: 800px) {
    .main-heading {
        font-size: 180%;
    }

    #ctn-squares-grid {
        width: 320px;
        height: 680px;
        grid-gap: 1rem 1rem;
    }

    .square {
        width: 35px;
        height: 35px;
    }

    #ctn-circles-grid {
        width: 320px;
        height: 680px;
        grid-gap: 1rem 1rem;
    }

    .circle {
        width: 20px;
        height: 20px;
    }
}